@model MeetingNotes.Models.Meeting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManagerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkerId)
        </dd>
        <dt class="col-sm-2">
            Notes
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                @if (Model.notes != null)
                {
                    <p>Note ID: @Model.notes.NotesId</p>
                    <p>Note Text: @Model.notes.NotesText</p>
                }
                else
                {
                    <p>No note associated with this meeting.</p>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MeetingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

